
nav {
  float: right;
  width: 15vw;
  flex-direction: column;
  display: flex;
  background-color: #91336a;
}

nav a {

  background-color: #91336a;
  color: #da3596;
  padding: 0.5em;
  margin: 0.5em;
    /* try different values - e.g. 3s */
    transition: background-color 0.7s;
  }

  nav a:hover {
    background-color: #cf94b8;
  }
  header, main {
    overflow: auto;
  }
  header{
    background-color:black;
    color: white;
  }
main{

  width: 83vw;
  background-color:#cf94b8;
}
